/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .anims {
    opacity: 0;
    transform: translateY(-30px);
    animation: moveDown 0.5s linear forwards;
  }
  @keyframes moveDown {
    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }

  h3 {
    color: beige;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: 40px;
    text-align: center;
  }
  .timeline {
    position: relative;
    max-width: 768px;
    margin: 50px auto;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
  }
  .Container {
    padding: 10px 44px;
    position: relative;
    width: 70%;
    animation: movedown 1s linear forwards;
    opacity: 0;
  }
  .Container:nth-child(1) {
    animation-delay: 0s;
  }
  .Container:nth-child(2) {
    animation-delay: 1s;
  }
  .Container:nth-child(3) {
    animation-delay: 2s;
  }
  .Container:nth-child(4) {
    animation-delay: 3s;
  }
  @keyframes movedown {
    0% {
      opacity: 1;
      transform: translateY(-30px);
    }
    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }
  .text-Box {
    padding: 10px 20px;
    background-color: beige;
    position: relative;
    border-radius: 10px;
    font-size: 15px;
    box-shadow: 0px 5px 10px 0px rgba(0, 255, 255, 0.7);
    transition: all ease 0.2s;
  }
  .text-Box:hover {
    transform: translateY(-5px);
    box-shadow: 0px 10px 20px 2px rgba(0, 255, 255, 0.7);
  }
  .left-Container {
    left: 0;
  }
  .right-Container {
    left: 0;
  }
  .Container > img {
    width: 40px;
    height: 40px;
    position: absolute;
    border-radius: 50%;
    left: -14px;
    top: 32px;
    z-index: 10;
    border: 5px solid rgb(15, 15, 73);
    border-radius: 20px;
  }
  .left-Container,
  .right-Container {
    left: 43px;
  }
  .right-Container > img {
    left: -14px;
  }
  .timeline::after {
    content: "";
    position: absolute;
    width: 6px;
    height: 100%;
    background-color: beige;
    top: 0;
    left: 50px;
    margin-left: -3px;
    border-radius: 20px;
    z-index: -1;
    animation: moveline 4s linear forwards;
  }
  @keyframes moveline {
    0% {
      height: 0;
    }
    100% {
      height: 100%;
    }
  }
  .text-Box > h2 {
    font-weight: 600;
  }
  .text-Box > small {
    display: inline-block;
    margin-bottom: 15px;
  }

  .left-Container-arrow {
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 16px solid beige;
    left: -15px;
  }
  .right-Container-arrow {
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 0;
    border-right: 16px solid beige;
    left: -15px;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .anims {
    opacity: 0;
    transform: translateY(-30px);
    animation: moveDown 0.5s linear forwards;
  }
  @keyframes moveDown {
    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }
  h3 {
    color: beige;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: 45px;
    text-align: center;
  }
  .timeline {
    position: relative;
    max-width: 768px;
    margin: 50px auto;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
  }
  .Container {
    padding: 10px 50px;
    position: relative;
    width: 80%;
    animation: movedown 1s linear forwards;
    opacity: 0;
  }
  .Container:nth-child(1) {
    animation-delay: 0s;
  }
  .Container:nth-child(2) {
    animation-delay: 1s;
  }
  .Container:nth-child(3) {
    animation-delay: 2s;
  }
  .Container:nth-child(4) {
    animation-delay: 3s;
  }
  @keyframes movedown {
    0% {
      opacity: 1;
      transform: translateY(-30px);
    }
    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }
  .text-Box {
    padding: 20px 30px;
    background-color: beige;
    position: relative;
    border-radius: 6px;
    font-size: 15px;
    box-shadow: 0px 5px 10px 0px rgba(0,255,255,0.7); 
    transition: all ease 0.2s;
  }
  .text-Box:hover{
    transform: translateY(-5px);
    box-shadow: 0px 10px 20px 2px rgba(0,255,255,0.7);
  }

.left-Container {
  left: 0;
}
.right-Container {
  left: 0;
}
.Container > img {
  width: 40px;
  height: 40px;
  position: absolute;
  border-radius: 50%;
  left: -14px;
  top: 32px;
  z-index: 10;
  border: 5px solid rgb(15, 15, 73);
    border-radius: 20px;
}
.left-Container,
.right-Container {
  left: 43px;
}
.right-Container > img {
  left: -14px;
}
.timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  height: 100%;
  background-color: beige;
  top: 0;
  left: 50px;
  margin-left: -3px;
  border-radius: 20px;
  z-index: -1;
  animation: moveline 4s linear forwards;
}
@keyframes moveline {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}
.text-Box > h2 {
  font-weight: 600;
}
.text-Box > small {
  display: inline-block;
  margin-bottom: 15px;
}

.left-Container-arrow {
  height: 0;
  width: 0;
  position: absolute;
  top: 28px;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 16px solid beige;
  left: -15px;
}
.right-Container-arrow {
  height: 0;
  width: 0;
  position: absolute;
  top: 28px;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 0;
  border-right: 16px solid beige;
  left: -15px;
}}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .anims {
    opacity: 0;
    transform: translateY(-30px);
    animation: moveDown 0.5s linear forwards;
  }
  @keyframes moveDown {
    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }

  h3 {
    color: beige;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: 45px;
    text-align: center;
  }
  .timeline {
    position: relative;
    max-width: 768px;
    margin: 50px auto;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
  }
  .Container {
    padding: 10px 50px;
    position: relative;
    width: 80%;
    animation: movedown 1s linear forwards;
    opacity: 0;
  }
  .Container:nth-child(1) {
    animation-delay: 0s;
  }
  .Container:nth-child(2) {
    animation-delay: 1s;
  }
  .Container:nth-child(3) {
    animation-delay: 2s;
  }
  .Container:nth-child(4) {
    animation-delay: 3s;
  }
  @keyframes movedown {
    0% {
      opacity: 1;
      transform: translateY(-30px);
    }
    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }
  .text-Box {
    padding: 20px 30px;
    background-color: beige;
    position: relative;
    border-radius: 6px;
    font-size: 15px;
    box-shadow: 0px 5px 10px 0px rgba(0,255,255,0.7);
    transition: all ease 0.2s;
  }
  .text-Box:hover {
    transform: translateY(-5px);
    box-shadow: 0px 10px 20px 2px rgba(0,255,255,0.7);
  }
  .left-Container {
    left: 0;
  }
  .right-Container {
    left: 0;
  }
  .Container > img {
    width: 40px;
    height: 40px;
    position: absolute;
    border-radius: 50%;
    left: -14px;
    top: 32px;
    z-index: 10;
    border: 5px solid rgb(15, 15, 73);
    border-radius: 20px;
  }
  .left-Container,
  .right-Container {
    left: 43px;
  }
  .right-Container > img {
    left: -14px;
  }
  .timeline::after {
    content: "";
    position: absolute;
    width: 6px;
    height: 100%;
    background-color: beige;
    top: 0;
    left: 50px;
    margin-left: -3px;
    border-radius: 20px;
    z-index: -1;
    animation: moveline 4s linear forwards;
  }
  @keyframes moveline {
    0% {
      height: 0;
    }
    100% {
      height: 100%;
    }
  }
  .text-Box > h2 {
    font-weight: 600;
  }
  .text-Box > small {
    display: inline-block;
    margin-bottom: 15px;
  }

  .left-Container-arrow {
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid beige;
    left: -15px;
  }
  .right-Container-arrow {
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 0;
    border-right: 15px solid beige;
    left: -15px;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .anims {
    opacity: 0;
    transform: translateY(-30px);
    animation: moveDown 0.5s linear forwards;
  }
  @keyframes moveDown {
    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }
  h3 {
    color: beige;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: 48px;
    text-align: center;
  }
  .timeline {
    position: relative;
    max-width: 992px;
    margin: 50px auto;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
  }
  .Container {
    padding: 10px 50px;
    position: relative;
    width: 45%;
    animation: movedown 1s linear forwards;
    opacity: 0;
  }
  .Container:nth-child(1) {
    animation-delay: 0s;
  }
  .Container:nth-child(2) {
    animation-delay: 1s;
  }
  .Container:nth-child(3) {
    animation-delay: 2s;
  }
  .Container:nth-child(4) {
    animation-delay: 3s;
  }
  @keyframes movedown {
    0% {
      opacity: 1;
      transform: translateY(-30px);
    }
    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }
  .text-Box {
    padding: 20px 30px;
    background-color: beige;
    position: relative;
    border-radius: 6px;
    font-size: 15px;
    box-shadow: 0px 5px 10px 0px rgba(0,255,255,0.7);
    transition: all ease 0.2s;
  }
  .text-Box:hover {
    transform: translateY(-5px);
    box-shadow: 0px 10px 20px 2px rgba(0,255,255,0.7);
  }
  .left-Container {
    left: 0;
    margin-left: -25px;
  }
  .right-Container {
    left: 53%;
    margin-left: -5px;
  }
  .Container > img {
    width: 40px;
    height: 40px;
    position: absolute;
    border-radius: 50%;
    left: 97%;
    top: 32px;
    z-index: 10;
    border: 5px solid rgb(15, 15, 73);
    border-radius: 20px;
  }

  .right-Container > img {
    left: -14px;
    margin-left: 0;
  }
  .timeline::after {
    content: "";
    position: absolute;
    width: 6px;
    height: 100%;
    background-color: beige;
    top: 0;
    left: 53%;
    margin-left: -3px;
    border-radius: 20px;
    z-index: -1;
    animation: moveline 4s linear forwards;
  }
  @keyframes moveline {
    0% {
      height: 0;
    }
    100% {
      height: 100%;
    }
  }
  .text-Box > h2 {
    font-weight: 600;
  }
  .text-Box > small {
    display: inline-block;
    margin-bottom: 15px;
  }

  .left-Container-arrow {
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 16px solid beige;
    border-right: 0;
    left: 100%;
  }
  .right-Container-arrow {
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 16px solid beige;
    left: -15px;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .anims {
    opacity: 0;
    transform: translateY(-30px);
    animation: moveDown 0.5s linear forwards;
  }
  @keyframes moveDown {
    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }

  h3 {
    color: beige;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: 40px;
    text-align: center;
  }
  .timeline {
    position: relative;
    max-width: 1200px;
    margin: 100px auto;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
  }
  .Container {
    padding: 10px 68px;
    position: relative;
    width: 35%;
    animation: movedown 1s linear forwards;
    opacity: 0;
  }
  .Container:nth-child(1) {
    animation-delay: 0s;
  }
  .Container:nth-child(2) {
    animation-delay: 1s;
  }
  .Container:nth-child(3) {
    animation-delay: 2s;
  }
  .Container:nth-child(4) {
    animation-delay: 3s;
  }
  @keyframes movedown {
    0% {
      opacity: 1;
      transform: translateY(-30px);
    }
    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }
  .text-Box {
    padding: 10px 15px;
    background-color: beige;
    position: relative;
    border-radius: 6px;
    font-size: 15px;
    box-shadow: 0px 5px 10px 0px rgba(0, 255, 255, 0.7);
    transition: all ease 0.2s;
  }
  .text-Box:hover {
    transform: translateY(-5px);
    box-shadow: 0px 10px 20px 2px rgba(0, 255, 255, 0.7);
  }
  .left-Container {
    left: 10%;
    margin-left: -25px;
  }
  .right-Container {
    left: 52%;
    margin-left: -5px;
  }
  .Container > img {
    width: 30px;
    height: 30px;
    position: absolute;
    border-radius: 50%;
    left: 94%;
    margin-left: 2px;
    top: 32px;
    z-index: 10;
    border: 5px solid rgb(15, 15, 73);
    border-radius: 20px;
  }

  .right-Container > img {
    left: 0;
    margin-left: -3px;
  }
  .timeline::after {
    content: "";
    position: absolute;
    width: 5px;
    height: 100%;
    background-color: beige;
    top: 0;
    left: 53%;
    margin-left: -3px;
    border-radius: 20px;
    z-index: -1;
    animation: moveline 4s linear forwards;
  }
  @keyframes moveline {
    0% {
      height: 0;
    }
    100% {
      height: 100%;
    }
  }
  .text-Box > h2 {
    font-weight: 600;
  }
  .text-Box > small {
    display: inline-block;
    margin-bottom: 15px;
  }

  .left-Container-arrow {
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 16px solid beige;
    border-right: 0;
    left: 100%;
  }
  .right-Container-arrow {
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 16px solid beige;
    left: -15px;
  }
}
